@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cyrillics Software</h1>
    <p class="lead">Job application project.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Github Link</h2>
        <p>
            Go to the project Github repository
        </p>
        <p><a class="btn btn-default" href="https://github.com/nenadcurcic/nytimes">Repository &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Used API</h2>
        <p>For this project, NY Times RESTful service is used.</p>
        <p><a class="btn btn-default" href="https://developer.nytimes.com/docs/articlesearch-product/1/routes/articlesearch.json/get">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosted on Azure</h2>
        <p>Project hosted on Azure free subscription.</p>
        
    </div>
</div>